<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>vagrant-lamp Landing Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
        <div class="pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="https://bitbucket.org/estrnstd/vagrant-lamp">vagrant-lamp</a>
        </div>
    </header>

    <section class="splash">
        <h1 class="splash-head">vagrant-lamp Default Landing Page</h1>
        <h2>This is the page you see when you try to connect to a vagrant vhost that the devserver doesn't know about.</h2>
        <p>tl;dr you probably don't want to be here. Here are a few things to check:</p>
        <ul>
            <li>Have you run <code>vagrant reload --provision</code> after adding a mapped site?</li>
            <li>Have you modified your local <code>/etc/hosts</code> file to point your new domain to your devserver IP address?</li>
            <li>Does the entry in your <code>/etc/hosts</code> file match the vhost config file in your vagrant guest?</li>
        </ul>
        <p>If you answered <em>yes</em> to all three, and you're still stuck, ping Tom on Slack.</p>
        <div class="known-sites"></div>

        <script id="known-sites-template" type="text/x-handlebars-template">
            <h2>These are all the currently provisioned sites for this server:</h2>
            <ul>
                {{#each sites}}
                <li><a href="http://{{this}}">{{this}}</a> (<a href="https://{{this}}">https</a>)</li>
                {{/each}}
            </ul>
        </script>
    </section>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
